{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link href="{% static 'assets/css/bootstrap.min.css'%}" rel="stylesheet">
    <link href="{% static 'assets/css/main.css'%}" rel="stylesheet">
    <link href="{% static 'assets/css/Chart.min.css'%}" rel="stylesheet">
    <link href="{% static 'assets/css/jquery-ui.min.css'%}" rel="stylesheet">
    <title>main screen</title>
</head>

<body>
    <header class="header">
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#" onclick="location.reload()">
                        <img src="{% static 'assets/images/logo.png'%}" alt="logo">
                    </a>
                </div>
                <ul class="nav navbar-nav navbar-right">
                    <li class="active"><a href="/" onclick="location.href='/'">Home</a></li>
                    <li><a href="/keyword" id="searchBtn">키워드</a></li>
                </ul>
            </div>
            <div class="progress-container">
                <div class="progress-bar" id="myBar"></div>
            </div>
        </nav>
    </header>
    
    <div id="myVideo">
        <video width="100%" height="100%" autoplay muted loop>
            <source src="{% static 'assets/videos/backvideo2.mp4'%}" type="video/mp4">
        </video>
    </div>
    <div class="first-area" id="home">
        <div class="container-fluid">
            <div class="col-md-6 col-md-offset-3">
                <div class="row">
                    <div id="logo" class="text-center" style="padding-top:15%;">
                        <img src="{% static 'assets/images/title.png'%}" style="width:70%; height:auto;" alt="이미지를 요청하지 못하였습니다.">
                        <p ><h4 style="color:rgb(255, 255, 255); text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;">아이템을 입력하세요</h5></p>
                    </div>
                    <!-- Search form -->
                    <form method="POST" action="/keyword" role="form" id="form-buscar" onsubmit="return submitSearch()">
                        <div class="form-group">
                            {% csrf_token %}
                            <div class="input-group md-form">
                                <div class="main-search">
                                    <input id="word-search" class="form-control input-lg" type="text" name="keyword"
                                        placeholder="Search..." required />
                                </div>
                                <span class="input-group-btn">
                                    <button class="btn btn-success" type="submit" id="search-submit"
                                        style="background: transparent; border:none; color:white;">
                                        <i class="glyphicon glyphicon-search" aria-hidden="true"></i>
                                    </button>
                                </span>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    
    <div class="container-fluid" style="background: white" id="help">
        <div class="container">
            <div class="final-area">
                <h1>도움말</h1>
                <p> 안녕하세요 굴러들어온 돌 입니다.<br> </p>
            </div>
        </div>
    </div>
    <footer>
        <div class="footer">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-5"></div>
                    <div class="col-md-2">
                        <p style="color:gray">web develop by rolling stone</p>
                    </div>
                    <div class="col-md-6"></div>
                </div>
            </div>
        </div>
    </footer>
</body>


<script src="{% static 'assets/js/jquery-3.4.1.min.js'%}"></script>
<script src="{% static 'assets/js/bootstrap.min.js'%}"></script>
<script src="{% static 'assets/js/Chart.min.js' %}"></script>
<script src="{% static 'assets/js/jquery-ui.min.js'%}"></script>
<script src="{% static 'assets/js/datepicker-ko.js'%}"></script>
<script src="{% static 'assets/js/main.js'%}"></script>

</html>