{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="euc-kr">
    <link href="{% static 'assets/css/bootstrap.min.css'%}" rel="stylesheet">
    <link href="{% static 'assets/css/main.css'%}" rel="stylesheet">
    <link href="{% static 'assets/css/Chart.min.css'%}" rel="stylesheet">
    <link href="{% static 'assets/css/jquery-ui.min.css'%}" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+KR&display=swap" rel="stylesheet">

    <link rel='shortcut icon' type='image/x-icon' href="{% static 'assets/images/icon.png' %}">
    <title>장사는 타이밍: 키워드</title>
</head>

<body>
    <header class="header">
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#" onclick="location.reload()">
                        <img src="{% static 'assets/images/logo.png'%}" alt="logo">
                    </a>
                </div>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/" onclick="location.href='/'">Home</a></li>
                    <li class="active"><a href="/keyword" id="searchBtn">키워드</a></li>
                </ul>
            </div>
            <div class="progress-container">
                <div class="progress-bar" id="myBar"></div>
            </div>
        </nav>
    </header>
    <div class="container-fluid" style="background: white">
        <div class="container">
            <div class="first-area key-word-area" id="search">
                <div class="desc">
                    <div class="title">
                        <h1>상품 키워드</h1>
                    </div>
                    <div class="content">
                        <p><span style="color:blue">키워드</span>는 향후 트렌드 가능성이 있는 아이템입니다.<br><span
                                style="color:blue">키워드</span>를 클릭하면 해당 아이템의 그래프를 볼 수 있습니다.</p>
                    </div>
                </div>

                <input type="hidden" id="word" value="{{searchWord}}">

                <div class="row">
                    <div class="button-area">
                        {% if key is not none %}
                        {% for k in key %}
                        <div class="col-sm-3 col-md-3 col-xs-3 top-buffer">
                            
                            <button type="button" class="btn square_btn" name="{{k}}" title="{{k}}" data-toggle="tooltip"
                                onclick="keywordData(this)">{{ k }}</button>
                                
                            
                        </div>
                        {% endfor %}
                        {% else %}
                    </div>
                </div>

                <div class="desc">
                    <p>검색 결과가 없습니다.</p>
                </div>
                {% endif %}
                {% csrf_token %}
            </div>
        </div>
    </div>
    <div class="container-fluid" style="background: white" id="keyword-graph">
        <div class="container">
            <div class="first-area">
                <div class="desc">
                    <div class="title">
                        <h1> 그래프 </h1>
                    </div>
                    <div class="content">
                        <p>당신이 검색한 상품의 트랜드 그래프입니다.</p>
                    </div>
                </div>
                <div class="col-lg-6" style="width:60%; margin:auto; float:none;">
                    <form method="POST" action="/keyword" role="form" id="form-buscar">
                        {% csrf_token %}
                        <div class="form-group">
                            <div class="input-group">

                            </div>
                        </div>
                    </form>
                    <canvas id="graph" width="550" height="400"></canvas>
                </div>
            </div>
        </div>
    </div>

    <footer>
        <div class="footer">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-5"></div>
                    <div class="col-md-2">
                        <p style="color:gray">web develop by rolling stone</p>
                    </div>
                    <div class="col-md-6"></div>
                </div>
            </div>
        </div>
    </footer>
</body>

<script src="{% static 'assets/js/jquery-3.4.1.min.js'%}"></script>
<script src="{% static 'assets/js/bootstrap.min.js'%}"></script>
<script src="{% static 'assets/js/Chart.min.js' %}"></script>
<script src="{% static 'assets/js/main.js'%}"></script>
<script src="{% static 'assets/js/main-chart.js'%}"></script>
<script src="{% static 'assets/js/jquery-ui.min.js'%}"></script>

</html>