{% load static %}
<!DOCTYPE html>
<html>
<head>
    <link href="{% static 'assets/css/bootstrap.min.css'%}" rel="stylesheet">
    <link href="{% static 'assets/css/main.css'%}" rel="stylesheet">
    <link href="{% static 'assets/css/Chart.min.css'%}" rel="stylesheet">
    <title>main screen</title>
</head>

<body>
    <header class="header">
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#" onclick="location.reload()">
                        <img src="{% static 'assets/images/title.png'%}" alt="logo">
                    </a>
                </div>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/" onclick="location.href='/'">Home</a></li>
                    <li class="active"><a href="/keyword" id="searchBtn">키워드</a></li>
                    <li><a href="/graph" id="chartBtn">그래프</a></li>
                </ul>
            </div>
        </nav>
    </header>

    
    <div class="container-fluid" style="background: white">
        <div class="container">
            <div class="first-area key-word-area" id="search">
                <h1>상품 키워드</h1>
                <p>온라인 스토어 운영에 도움이 될만한 키워드입니다.</p>
                <p>파란색 키워드는 향후 트랜드 가능성이 있는 아이템입니다.</p>
                <p>붉은색 키워드는 향후 트랜드 가능성이 낮은 아이템입니다.</p>
                <p>아이템을 클릭하면 해당 아이템의 그래프를 볼 수 있습니다.</p>
                <button type="button" class="btn btn-primary" onclick="recommendationMove()">자전거<span
                        class="badge">0</span></button>
                <button type="button" class="btn btn-danger">반바지<span class="badge">0</span></button>
                <button type="button" class="btn btn-danger">{{ keyword }}<span class="badge">0</span></button>
            </div>
        </div>
    </div>
    <div class="container-fluid" style="background: white" id="recommendation">
        <div class="container">
            <div class="first-area">
                <h1> 그래프 </h1>
                <p>당신이 검색한 상품 혹은 대체가능한 상품이 나옵니다.</p>

                <div class="col-lg-6" style="width:60%; float:none; margin:auto">
                    <div class="form-group">
                        <div class="input-group">
                            <input id="1" class="form-control" type="text" name="search" placeholder="Search..."
                                required style="z-index:0"/>
                            <span class="input-group-btn">
                                <button class="btn btn-success" type="submit">
                                    <i class="glyphicon glyphicon-search" aria-hidden="true"></i>
                                </button>
                            </span>
                        </div>
                    </div>
                    <canvas id="graph" width="550" height="400"></canvas>
                </div>
            </div>
        </div>
    </div>
    <footer>
        <div class="footer">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-5"></div>
                    <div class="col-md-2">
                        <p style="color:gray">web develop by rolling stone</p>
                    </div>
                    <div class="col-md-6"></div>
                </div>
            </div>
        </div>
    </footer>
</body>

<script src="{% static 'assets/js/jquery-3.4.1.min.js'%}"></script>
<script src="{% static 'assets/js/bootstrap.min.js'%}"></script>
<script src="{% static 'assets/js/Chart.min.js' %}"></script>
<script src="{% static 'assets/js/main.js'%}"></script>
<script src="{% static 'assets/js/main-chart.js'%}"></script>

</html>