name: djangoenv
channels:
  - conda-forge
  - defaults
dependencies:
  - ca-certificates=2019.6.16=hecc5488_0
  - certifi=2019.6.16=py37_1
  - django=2.2.4=py37_0
  - djangorestframework=3.10.2=py_0
  - openssl=1.1.1c=hfa6e2cd_0
  - pip=19.2.2=py37_0
  - python=3.7.3=h510b542_1
  - pytz=2019.2=py_0
  - setuptools=41.2.0=py37_0
  - sqlite=3.29.0=hfa6e2cd_0
  - sqlparse=0.3.0=py_0
  - vc=14.1=h0510ff6_4
  - vs2015_runtime=14.15.26706=h3a45250_4
  - wheel=0.33.6=py37_0
  - wincertstore=0.2=py37_1002
prefix: C:\Users\gnits\AppData\Local\Continuum\anaconda3\envs\djangoenv

